<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CRUD DE ESTUDIANTES CON SPRING</h1>

    <h3>Listado de Alumnos</h3>

    
    <table>
        <thead>
                <th>Foto</th>
                <th>Nombre</th> 
                <th>Apellidos</th>
                <th>Genero</th>
                <th>Fecha Matriculacion</th>
                <th>Total Asignaturas Matriculadas</th>
                
    </thead>
        <tbody>
            <tr th:each=" alumno: ${alumnos}">
                <td th:text="${alumno.nombre}"></td>
                <td th:text="${alumno.apellidos}"></td>
                <td th:text="${alumno.genero}"></td>
                <td th:text="${alumno.fechaMatriculacion}"></td>
                <td th:text="${alumno.totalAsigMatr}"></td>
                  

            </tr>

        </tbody>
    </table>
</body>
</html>