<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>Diurno</title>
</head>
<body>

    <h1>Listado de alumnos en diurno</h1>

   
    <table>
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nombre </th>
                <th>Apellidos </th>
                
            </tr>
        </thead>

        <tbody>
            <tr th:each=" alumno : ${alumnosDiurno}">
                <td> 
                    <img th:src="@{/images/} + ${alumno.foto}" th:alt="'Imagen del alumno : ' + ${alumno.nombre}" width="50px" height="100%">  
                </td>
                <td th:text="${alumno.nombre}"></td>
                <td th:text="${alumno.apellidos}"></td>
                <td th:text="${alumno.curso.descripcion}"></td>
                
                
            </tr>
        </tbody>
    </table>
</body>
</html>