<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Alumnos por Curso</title>
</head>
<body>
    <h1>Alumnos por Curso</h1>
    <table th:each="entry : ${listadoAlumnosCurso}">
        <h2 th:text=" 'Alumnos de ' + ${entry.key.descripcion} "></h2>
        <thead>
            <tr>
                <th>Curso</th>
                <th>Alumnos</th>
            </tr>
        </thead>
        <tbody th:each="alumno : ${entry.value}">
 
            <td>
                <img th:src="@{/images/} + ${alumno.foto}" th:alt="'Imagen del alumno : ' + ${alumno.nombre}" width="50px" height="100%">
            </td>
            <td th:text="${alumno.nombre}"></td>
            <td th:text="${alumno.apellidos}"></td>
        
</tbody>