<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CRUD DE ESTUDIANTES CON SPRING</h1>

    <h3>Listado de Alumnos</h3>

    
    <table enctype="multipart/form-data">
        <thead>
                <th>Foto</th>
                <th>Nombre</th> 
                <th>Apellidos</th>
                <th>Genero</th>
                <th>Fecha Matriculación</th>
                <th>Total Asignaturas</th>
                
    </thead>
        <tbody>
            <tr th:each=" alumno: ${alumnos}">
                <tr th:each=" alumno : ${alumnos}">
                    <td>
                        <img th:src="@{/images/} + ${alumno.foto}" th:alt="'Imagen del alumno : ' + ${alumno.nombre}" width="50px" height="100%">
                    </td>
                
                <td th:text="${alumno.nombre}"></td>
                <td th:text="${alumno.apellidos}"></td>
                <td th:text="${alumno.genero}"></td>
                <td th:text="${alumno.fechaMatriculacion}"></td>
                <td th:text="${alumno.totalAsigMatr}"></td>
                 
                <td>
                <a th:href="@{/actualizar/}+${alumno.id}">Actualizar</a>
                <a th:href="@{/eliminar/}+${alumno.id}">Borrar</a>
                </td>
            </tr>

        </tbody>
    </table>
    <div>
        <a th:href="@{/frmAltaModificacionAlumno}">Formulario de Alta de Alumnos</a><br>
        <a th:href="@{/listadoAlumnosDiurno}">Listado Alumnos diurno</a><br>
        <a th:href="@{/listadoAlumnosPorCurso}">Listado Alumnos agrupados por curso</a>
    </div>
</body>
</html>